.dashboard {
    background-color: aliceblue;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#quick-book {
  grid-area: 1 / 2 / 2 / 4;
}